<div class="container">
  <div class="page-header">
    <h1>挖矿说明</h1>
  </div>
  <dl class="dl-horizontal">
    <dt>YOUR_AQUA_ADDRESS</dt>
    <dd>这是您的支付地址，确保它以“0x”开头
      <strong>例如:</strong> <code>0x3317e8405e75551ec7eeeb3508650e7b349665ff</code>.
    </dd>
    <dt>矿机名</dt>
    <dd>
      你的矿机，以区别它从你的其他矿机。如果你只有一台钻机，请随意省略这个参数.
      .<br/>
      <strong>例如:</strong> <code>rig-1</code>
    </dd>
  </dl>
  <h4>注意</h4>
  <p>只能使用CPU挖掘.交易平台:https://safe.trade/trading/aquabtc</p>
 
</div>
